<!DOCTYPE html>
<html>
   <head>
      <title>Subtitle Search using weaviate</title>
      <link rel="stylesheet" href="CSS/style.css" />
   </head>
   <center>
      
   <body>
      <div class="logo">
         <img alt="Weaviate" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoe2e-Uhx91ATLq43VaaWx0IKOInlIFlGeBQ&usqp=CAU">
       </div>  
      <form action = "/get_link" method = "post">
         <br>
         <div class="bar">
            <input class="searchbar" autocomplete="off" name="url" type="text" title="Search" placeholder="Enter The video URL here">
          </div>    
          <div class="buttons">
         <button class="button"  type = "submit"/>Procced</button>

      </div>
      </form>
   </body>
</center>
</html>