.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    list-style: none;
  }


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.uploadColumn{
    flex-direction: row;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}

.showColumn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    width: 50vw;
}

.uploadedImg {
    width: auto;
    max-height: 300px;
    border: 5px solid #555;
}

li {
    padding: 5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
  }

.button {
    background-color: #38d611;
    border: none;
    padding: 10px 20px;
    color: #000;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

.file {
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 12px;
    padding: 10px;
}


.icon{
    width: 50px;
    height: 50px;

}